<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./partial/head %>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/login/signin.css"  />
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="">Admin Dashboard</a>
					<div class="nav-collapse collapse" style="height: 0px;">
					</div>
				</div>
			</div>
		</div>
		<div class="account-container stacked">
			<div class="content clearfix">
				<form action="/admin/login" method="POST">
					<h1>Sign In</h1>
					<div class="login-fields">
						<div class="field">
							<input type="text" name="email" placeholder="Email" class="login username-field">
						</div>
						<div class="field">
							<input type="password" name="password" placeholder="Password" class="login password-field">
						</div>
					</div>
					<div class="login-actions">
						<button type="submit" class="button btn btn-warning btn-large" id="btn">Sign In</button>
					</div>
					<legend>
				</form>
			</div>
		</div>
		<div class="login-extra">
			Belum punya account?<a href="/signup"> Sign Up</a>
		</div>
	</body>
</html>