<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./partial/head %>
		<link rel="stylesheet" href="/bootstrap/colorpicker/css/colorpicker.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/canvas/styleCanvas.css">
	</head>
	<body>
		<% include ./partial/header %>
		<div class="container">
			<div class="row">
				<div class="span2">
					<div class="input-prepend color" data-color="rgb(47,47,47)" data-color-format="hex" id="getColor">
						<span class="add-on">
							<i style="background-color: rgb(47,47,47)"></i>
						</span>
						<input type="text" class="input-mini" id="dback" readonly>
					</div>
					<!-- <hr> -->
					<input type="range" class="input-medium" min="0" max="255" value="200" id="opacity">
				</div>
				<div class="span10">
					<canvas id="myCanvas" width="720" height="540"></canvas>
				</div>
			</div>
		</div>
      	<% include ./partial/footer %>
      	<script type='text/javascript' src='/socket.io/socket.io.js'></script>
      	<script type='text/javascript' src='/bootstrap/colorpicker/js/bootstrap-colorpicker.js'></script>
      	<script type='text/javascript' src='/javascripts/lib/paperjs/canvas/zepto.js'></script>
      	<script type='text/javascript' src='/javascripts/lib/paperjs/canvas/paper.js'></script>
      	<script type='text/paperscript' src='/javascripts/lib/paperjs/canvas/canvas.js' canvas="myCanvas"></script>
	</body>
</html>