<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="">Admin Dashboard</a>
			<div class="nav-collapse collapse" style="height: 0px;">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-cog"></i>
							<%= user.nama_user%>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="">
								<a href="/admin/logout">
									<i class="icon-remove-sign"></i>
									Logout
								</a>
							</li>
							<li class="">
								<a href="">
									<i class="icon-book"></i>
									Profil
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="subnavbar">
	<div class="subnavbar-inner">
		<div class="container">
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>
			<div class="subnav-collapse collapse" >
				<ul class="mainnav">
					<li class="" id="navHome">
						<a href="/admin/home">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>
					</li>
					<li class="" id="navUser">
						<a href="/admin/user">
							<i class="icon-user"></i>
							<span>User</span>
						</a>
					</li>
					<li class="" id="navKelas">
						<a href="/admin/kelas">
							<i class="icon-folder-open"></i>
							<span>Kelas</span>
						</a>
					</li>
					<li class="" id="navRTC">
						<a href="/admin/web-rtc">
							<i class="icon-facetime-video"></i>
							<span>webRTC (Coba)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>